body {
  font-family: 'Quicksand', sans-serif;
  margin: 0;
}

html {
  font-size: 16px;
}

.brand {
  font-family: 'Dancing Script', cursive;
  font-size: 2.65em;
  font-weight: 700;
}

.brand-bg {
  background: #64285a !important;
}

.brand-bg1 {
  background-color: #64285a !important;
}

.project-slider p {
  width: 70%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 7%;
}

.icon-slider img {
  border-radius: 6px;
}

.social img {
    width: 36px;
    height: 36px;
}

.active {
    font-weight: 500 !important;
  }

.tab-pane p {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

/*.tab-pane h2 {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}*/

.tab-pane p:first-child {
  padding-top: 2.5%;
}

.tab-pane p:last-child {
  padding-bottom: 2.5%;
}  

.blog.slider.slick-initialized.slick-slider.slick-dotted {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}

.blog.slider a.btn.btn-info.btn-raised.btn-sm {
    margin-top: 7%;
} 

.image-styling {
    left: 0;
    width: 100%;
    top: -20%;
    z-index: 1;
    box-shadow: 0 5px 15px -8px rgba(0,0,0,.24), 0 8px 10px -5px rgba(0,0,0,.2);
    border-radius: 6px;
}

footer ul li a {
    padding-left: 0.375rem;
    padding-right: 0.375rem;
    }

.top-spacing {
  padding-top: 4%;
}

.padding-space {
  padding-bottom: 2.5%;
  padding-left: 5%;
  padding-right: 5%;
}

.space-top {
  padding-top: 3%;
  padding-bottom: 3%;
}

.contained {
  padding-left: 10%;
  padding-right: 10%;
}

.col-md-6.text-left.col-z-index.first-child-col {
    margin-top: auto;
    margin-bottom: auto;
}

.col-md-6.text-left.col-z-index.last-child-col {
    margin-top: auto;
    margin-bottom: auto;
}
.raised-border-radius {
  border: 0;
    margin-bottom: 30px;
    margin-top: 30px;
    border-radius: 6px;
    color: rgba(0,0,0,.87);
    background: #fff;
    width: 100%;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}

footer .copyright p {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
    padding-top: 7px;
}

@media only screen and (min-width: 1920px) {
  .col-md-6 p {
    font-size: 22px;
  }
}
@media only screen and (min-width: 1440px) {
    .col-md-6 p {
    font-size: 20px;
  }
}
@media screen and (max-width: 1024px) {
.col-md-6 {
    flex: 0 0 100% !important;
    max-width: 100% !important;
}
.col-md-6.text-left.col-z-index.first-child-col p:first-child {
 padding-top: 5%;
}
.col-md-6.text-left.col-z-index.last-child-col p:last-child {
 padding-bottom: 5%;
}
}

@media screen and (max-width: 768px) {
.copyright.pull-right {
    width: 100%;
}
nav.pull-left {
    width: 100%;
}
}

@media screen and (max-width: 767px) {
.col-md-8.ml-auto.mr-auto {
    padding-left: 10%;
    padding-right: 10%;
}
}

@media screen and (max-width: 600px) {
.slick-slide img {
  width: 100%;
}
footer ul li a {
    padding: 0.3rem;
    }
    .slick-dots {
    display: none !important
  }
}

@media screen and (max-width: 450px) {
footer ul li a {
    padding: 0.1rem;
    }
    footer .copyright p {
    padding-top: 0;
    margin-bottom: 0;
}
.col-md-8.ml-auto.mr-auto {
    padding-left: 2%;
    padding-right: 2%;
}
h2.title {
    line-height: 1em;
}
.tab-pane p {
    width: 100%;
}
.info {
    padding-top: 20px;
    padding-bottom: 20px;
}
.h3 {
    line-height: 1em;
}
.card-body {
    padding: 4% 3% !important;
}
.padding-space {
    padding-left: 1%;
    padding-right: 1%;
}
.text-right {
    text-align: left !important;
}
.container-fliud {
    padding-left: 10%;
    padding-right: 10%;
}
h4.text-center {
    padding-left: 4%;
    padding-right: 4%;
}
}

/*.whitespace {
  padding: 20px;
}

h1 {
    font-family: Titillium Web, sans-serif;
    font-weight: 500;
  font-size: 2.5em;
  }

h2 {
    font-family: Titillium Web, sans-serif;
    font-weight: 500;
    font-size: 1.99em;
  }

.jumbotron {
  margin-bottom: 0;
}

.jumbotron p {
  font-weight: 400;
  padding: 20px;
}

.blue-background {
  background-color: #1D2463;
  color: #fff;
}

.yellow-background {
  background-color: #F9DC5C;
  color: #000;
}

.purple-background {
  background-color: #950952;
  color: #fff;
}

.pink-background {
  background-color: #E84855;
  color: #000;
}

.blue {
  color: #1D2463;
  font-weight: 400;
}

.pink {
  color: #E84855;
  font-weight: 300 !important;
  font-style: italics;
  font-size: 1.65em !important;
}

.btn-primary {
  background-color: #950952;
  border: 2px solid #950952;
}

.white {
  color: #fff;
}

.special {
  margin-bottom: 35px;
}

.special-top {
  margin-top: 35px;
}

.padding {
  
}

.about .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}

.about .col-md-3 {
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: center;
}

.about .col-md-4 {
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: center;
}
.about h2 {
  font-weight: normal;
}
.about .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}

.portfolio-divider {
  margin: 40px 0; 
}

.portfolio-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

.skills th {
    text-align: center;
    font-weight: 500;
  
    text-transform: uppercase;
}

.skills td {
    padding: 5px;
    text-align: center;
    font-weight: 400;
}*/

/*Footer styling*/
/*
.footer {
  display: block;
  padding: 15px;
}

.footer h5 {
  text-transform: uppercase;
  display: inline-block;
  margin: 10px 0;
 }

.logo {
  margin:0 0;
  text-align: center;
}

.social {
  list-style: none;
  padding: 0 0;
  text-align: center;
}

.footer ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

.footer img {
  width: 32px;
  height: 42px;
  margin: 0 10px;
  padding-bottom: 10px;
}

img.img-responsive.center-block.mobile {
display:none

}

@media screen and (max-width: 450px) {

.pink {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

img.img-responsive.center-block.desktop {
display:none

}

img.img-responsive.center-block.mobile {
display:block

}

}
*/