<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <!--Sidebar content-->

      <p>
        Search by Name or Type:
        <input ng-model="$ctrl.query" />
      </p>

      <p>
        Sort by:
        <select ng-model="$ctrl.orderProp">
          <option value="name">Alphabetical</option>
          <option value="added">Oldest</option>
          <option value="type">Type</option>
        </select>
      </p>

    </div>
    <div class="col-md-10">
      <!--Body content-->

      <ul class="documents">
        <li ng-repeat="document in $ctrl.documents | filter:$ctrl.query | orderBy:$ctrl.orderProp" class="thumbnail">
          <a href="#!/documents/{{document.id}}" class="thumb">
            <img ng-src="{{document.imageUrl}}" alt="{{document.name}}" />
          </a>
          <a href="#!/documents/{{document.id}}">{{document.name}}</a>
          <p>{{document.type}}</p>
          <p>{{document.added | date}}</p>
        </li>
      </ul>

    </div>
  </div>
</div>
